body{
    text-align: center;
}
.container{
    margin-top:20px
    
  
    
}
.box {
    background-color: blue;
    color: #fff;
    width: 60%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}
.playerscore{
    font-size: 80px;
    margin-bottom:50px;
    color:white;

}
.roll{
   background-color:red;
   margin-top:40px;
   width:180px;
   height:60px;
   font-size:20px;
}
.hold{
    background-color:red;
    margin-top:40px;
    width:180px;
    height:60px;
    font-size:20px; 
}
body,
html {
    height: 100%;
    background-image: url("../img/dice.jpg");
    background-size: cover;
    position: relative;
}
h2{
    color:white;
}